## Base24 One Light
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #e7e7e9
set $base01 #dfdfe1
set $base02 #cacace
set $base03 #a0a1a7
set $base04 #696c77
set $base05 #383a42
set $base06 #202227
set $base07 #090a0b
set $base08 #ca1243
set $base09 #c18401
set $base0A #febb2a
set $base0B #50a14f
set $base0C #0184bc
set $base0D #4078f2
set $base0E #a626a4
set $base0F #986801
