## Base24 Laser
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #030d18
set $base01 #616161
set $base02 #8e8e8e
set $base03 #a6a6a6
set $base04 #bfbfbf
set $base05 #d8d8d8
set $base06 #f1f1f1
set $base07 #feffff
set $base08 #ff8272
set $base09 #09b4bd
set $base0A #f92883
set $base0B #b4fa72
set $base0C #d0d1fe
set $base0D #fed300
set $base0E #ff8ffd
set $base0F #7f4139
