## Base24 Warm Neon
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #3f3f3f
set $base01 #000000
set $base02 #fdfcfc
set $base03 #f2ebe6
set $base04 #e7dad0
set $base05 #dcc9ba
set $base06 #d0b8a3
set $base07 #d8c8bb
set $base08 #e24345
set $base09 #dae145
set $base0A #7a90d5
set $base0B #38b139
set $base0C #29bad3
set $base0D #4260c5
set $base0E #f81ffb
set $base0F #712122
