## Base24 Misterioso
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #2d3743
set $base01 #000000
set $base02 #555555
set $base03 #787877
set $base04 #9b9b9a
set $base05 #bebebd
set $base06 #e1e1e0
set $base07 #ffffff
set $base08 #ff4242
set $base09 #ffad29
set $base0A #23d7d7
set $base0B #74af68
set $base0C #23d7d7
set $base0D #338f86
set $base0E #9413e5
set $base0F #7f2121
