## Base24 The Hulk
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #1b1d1e
set $base01 #1b1d1e
set $base02 #505354
set $base03 #727473
set $base04 #949592
set $base05 #b6b6b1
set $base06 #d8d8d0
set $base07 #e5e5e0
set $base08 #259d1a
set $base09 #62e456
set $base0A #4f6a95
set $base0B #13ce2f
set $base0C #378ca9
set $base0D #2424f4
set $base0E #641e73
set $base0F #124e0d
