## Base24 Blazer
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #0d1926
set $base01 #000000
set $base02 #262626
set $base03 #525252
set $base04 #7f7f7f
set $base05 #acacac
set $base06 #d9d9d9
set $base07 #ffffff
set $base08 #b87a7a
set $base09 #b8b87a
set $base0A #bdbddb
set $base0B #7ab87a
set $base0C #7ab8b8
set $base0D #7a7ab8
set $base0E #b87ab8
set $base0F #5c3d3d
