## Base24 Violet Dark
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #1b1d1f
set $base01 #56595c
set $base02 #45484b
set $base03 #656767
set $base04 #868683
set $base05 #a7a59f
set $base06 #c8c5bc
set $base07 #c8c5bd
set $base08 #c94c22
set $base09 #b4881d
set $base0A #2075c7
set $base0B #85981c
set $base0C #32a198
set $base0D #2e8bce
set $base0E #d13a82
set $base0F #642611
