## Base24 Flatland
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #1c1e20
set $base01 #1c1d19
set $base02 #1c1d19
set $base03 #545552
set $base04 #8d8e8b
set $base05 #c5c6c4
set $base06 #fefffe
set $base07 #fefffe
set $base08 #f18238
set $base09 #f3ef6d
set $base0A #61b8d0
set $base0B #9ed264
set $base0C #d53864
set $base0D #4f96be
set $base0E #695abb
set $base0F #78411c
