## Base24 Jellybeans
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #121212
set $base01 #929292
set $base02 #bdbdbd
set $base03 #c5c5c5
set $base04 #cdcdcd
set $base05 #d5d5d5
set $base06 #dedede
set $base07 #ffffff
set $base08 #e27373
set $base09 #ffba7b
set $base0A #b1d8f6
set $base0B #93b979
set $base0C #00988e
set $base0D #97bedc
set $base0E #e1c0fa
set $base0F #713939
