## Base24 Birds Of Paradise
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #2a1e1d
set $base01 #573d25
set $base02 #9a6b49
set $base03 #ab8664
set $base04 #bca280
set $base05 #cdbe9b
set $base06 #dfdab7
set $base07 #fff9d4
set $base08 #be2d26
set $base09 #e99c29
set $base0A #b8d3ed
set $base0B #6ba08a
set $base0C #74a5ac
set $base0D #5a86ac
set $base0E #ab80a6
set $base0F #5f1613
