## Base24 Bluloco Dark
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #1e2027
set $base01 #494f5c
set $base02 #60697a
set $base03 #7b8494
set $base04 #969faf
set $base05 #b1bac9
set $base06 #ccd5e4
set $base07 #fefefe
set $base08 #f71041
set $base09 #fc7e57
set $base0A #189ffd
set $base0B #23974a
set $base0C #366f99
set $base0D #285afe
set $base0E #8c62fd
set $base0F #7b0820
