## Base24 Espresso Libre
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #2a211c
set $base01 #000000
set $base02 #545753
set $base03 #737772
set $base04 #939791
set $base05 #b3b7b0
set $base06 #d3d7cf
set $base07 #ededec
set $base08 #cc0000
set $base09 #efe43a
set $base0A #43a8ed
set $base0B #1a921c
set $base0C #05989a
set $base0D #0066ff
set $base0E #c5656b
set $base0F #660000
