## Base24 3024 Day
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #f7f7f7
set $base01 #090300
set $base02 #5c5855
set $base03 #6e6a68
set $base04 #807d7b
set $base05 #928f8e
set $base06 #a5a2a2
set $base07 #f7f7f7
set $base08 #db2d20
set $base09 #fded02
set $base0A #807d7c
set $base0B #01a252
set $base0C #b5e4f4
set $base0D #01a0e4
set $base0E #a16a94
set $base0F #6d1610
