## Base24 Blue Matrix
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #0f1115
set $base01 #101116
set $base02 #676767
set $base03 #7f7f7f
set $base04 #979797
set $base05 #afafaf
set $base06 #c7c7c7
set $base07 #feffff
set $base08 #ff567f
set $base09 #fefc57
set $base0A #6871ff
set $base0B #00ff9b
set $base0C #75c1fe
set $base0D #00b0fe
set $base0E #d47bfe
set $base0F #7f2b3f
