## Base24 Ultra Violet
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #242728
set $base01 #232628
set $base02 #626566
set $base03 #818484
set $base04 #a1a3a3
set $base05 #c1c2c2
set $base06 #e1e1e1
set $base07 #f9f9f4
set $base08 #ff0090
set $base09 #fff727
set $base0A #7febff
set $base0B #b5ff00
set $base0C #0effbb
set $base0D #47dffb
set $base0E #d630ff
set $base0F #7f0048
