## Base24 Red Alert
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #762423
set $base01 #000000
set $base02 #262626
set $base03 #525252
set $base04 #7e7e7e
set $base05 #aaaaaa
set $base06 #d6d6d6
set $base07 #ffffff
set $base08 #d52e4d
set $base09 #beb86b
set $base0A #65a9f0
set $base0B #71be6b
set $base0C #6bbeb8
set $base0D #479bed
set $base0E #e878d6
set $base0F #6a1726
