## Base24 Kibble
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #0e100a
set $base01 #4d4d4d
set $base02 #5a5a5a
set $base03 #7c777c
set $base04 #9e959e
set $base05 #c0b3c0
set $base06 #e2d1e3
set $base07 #ffffff
set $base08 #c70031
set $base09 #d8e30e
set $base0A #97a4f7
set $base0B #29cf13
set $base0C #0798ab
set $base0D #3449d1
set $base0E #8400ff
set $base0F #630018
