## Base24 Wild Cherry
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #1f1626
set $base01 #000506
set $base02 #009cc9
set $base03 #3fb3ce
set $base04 #7fcad3
set $base05 #bfe1d8
set $base06 #fff8dd
set $base07 #e4838d
set $base08 #d94085
set $base09 #ffd16f
set $base0A #2f8bb9
set $base0B #2ab250
set $base0C #c1b8b7
set $base0D #883cdc
set $base0E #ececec
set $base0F #6c2042
