## Base24 Breeze
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #31363b
set $base01 #31363b
set $base02 #7f8c8d
set $base03 #9ba5a6
set $base04 #b7bebf
set $base05 #d3d7d8
set $base06 #eff0f1
set $base07 #fcfcfc
set $base08 #ed1515
set $base09 #f67400
set $base0A #3daee9
set $base0B #11d116
set $base0C #1abc9c
set $base0D #1d99f3
set $base0E #9b59b6
set $base0F #760a0a
