## Base24 Flat
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #082845
set $base01 #1d2845
set $base02 #2e2e45
set $base03 #444e5b
set $base04 #68717b
set $base05 #8c939a
set $base06 #b0b6ba
set $base07 #e7eced
set $base08 #a82320
set $base09 #e58d11
set $base0A #3c7dd2
set $base0B #2d9440
set $base0C #2c9370
set $base0D #3167ac
set $base0E #781aa0
set $base0F #541110
