## Base24 Japanesque
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #1d1d1d
set $base01 #343835
set $base02 #585a58
set $base03 #80827f
set $base04 #a8aaa7
set $base05 #d0d2ce
set $base06 #f9faf6
set $base07 #b1b5ae
set $base08 #ce3e60
set $base09 #e8b32a
set $base0A #135879
set $base0B #7bb75b
set $base0C #389aac
set $base0D #4c99d3
set $base0E #a57fc4
set $base0F #671f30
