## Base24 Thayer Bright
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #1b1d1e
set $base01 #1b1d1e
set $base02 #505354
set $base03 #6f7170
set $base04 #8e8f8d
set $base05 #adada9
set $base06 #ccccc6
set $base07 #f8f8f2
set $base08 #f92672
set $base09 #f3fd21
set $base0A #3f78ff
set $base0B #4df740
set $base0C #37c8b4
set $base0D #2656d6
set $base0E #8c54fe
set $base0F #7c1339
