## Base24 Framer
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #111111
set $base01 #141414
set $base02 #414141
set $base03 #636363
set $base04 #868686
set $base05 #a9a9a9
set $base06 #cccccc
set $base07 #ffffff
set $base08 #ff5555
set $base09 #ffcc33
set $base0A #33bbff
set $base0B #98ec65
set $base0C #88ddff
set $base0D #00aaff
set $base0E #aa88ff
set $base0F #7f2a2a
