## Base24 CLRS
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #ffffff
set $base01 #000000
set $base02 #545753
set $base03 #6b6d6a
set $base04 #838482
set $base05 #9a9b9a
set $base06 #b2b2b2
set $base07 #ededec
set $base08 #f72729
set $base09 #f96f1c
set $base0A #156ffe
set $base0B #32895c
set $base0C #32c2c0
set $base0D #125ccf
set $base0E #9f00bc
set $base0F #7b1314
