## Base24 Toy Chest
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #23364a
set $base01 #2c3f57
set $base02 #326889
set $base03 #2f8288
set $base04 #2b9c86
set $base05 #27b684
set $base06 #23d082
set $base07 #d4d4d4
set $base08 #be2d26
set $base09 #da8e26
set $base0A #33a5d9
set $base0B #199171
set $base0C #35a08f
set $base0D #325d96
set $base0E #8a5ddb
set $base0F #5f1613
