## Base24 PaperColor Light
# Author: Nguyen Nguyen (https://github.com/NLKNguyen/papercolor-theme)

set $base00 #eeeeee
set $base01 #e4e4e4
set $base02 #d0d0d0
set $base03 #878787
set $base04 #b2b2b2
set $base05 #444444
set $base06 #005f87
set $base07 #0087af
set $base08 #af0000
set $base09 #d70087
set $base0A #5f8700
set $base0B #008700
set $base0C #d75f00
set $base0D #0087af
set $base0E #8700af
set $base0F #005faf
