## Base24 Floraverse
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #0e0c15
set $base01 #08002e
set $base02 #331e4d
set $base03 #634e67
set $base04 #937f82
set $base05 #c3af9d
set $base06 #f3e0b8
set $base07 #fff5db
set $base08 #64002c
set $base09 #cd751c
set $base0A #40a4cf
set $base0B #5d731a
set $base0C #42a38c
set $base0D #1d6da1
set $base0E #b7077e
set $base0F #320016
