## Base24 Space Gray Eighties
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #212121
set $base01 #15171c
set $base02 #555555
set $base03 #7b7a79
set $base04 #a1a09e
set $base05 #c7c6c2
set $base06 #eeece7
set $base07 #ffffff
set $base08 #ec5f67
set $base09 #fdc253
set $base0A #4d83d0
set $base0B #80a763
set $base0C #57c2c0
set $base0D #5485c0
set $base0E #bf83c0
set $base0F #762f33
