## Base24 Slate
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #212121
set $base01 #212121
set $base02 #ffffff
set $base03 #c0f1f8
set $base04 #81e2f0
set $base05 #42d3e8
set $base06 #02c4e0
set $base07 #e0e0e0
set $base08 #e1a7bf
set $base09 #c4c9bf
set $base0A #79afd2
set $base0B #80d778
set $base0C #14ab9c
set $base0D #254a49
set $base0E #a380d3
set $base0F #70535f
