## Base24 Pro Light
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #feffff
set $base01 #f1f1f1
set $base02 #dcdcdc
set $base03 #cccccc
set $base04 #757575
set $base05 #4f4f4f
set $base06 #323232
set $base07 #000000
set $base08 #e4492b
set $base09 #c58e40
set $base0A #c5c340
set $base0B #50d048
set $base0C #4ed1dd
set $base0D #3a75ff
set $base0E #ec65e7
set $base0F #722415
