## Base24 Solarized Dark Higher Contrast
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #001e26
set $base01 #002731
set $base02 #006388
set $base03 #3a8298
set $base04 #74a2a9
set $base05 #aec2ba
set $base06 #e9e2cb
set $base07 #fcf4dc
set $base08 #d01b24
set $base09 #a57705
set $base0A #178dc7
set $base0B #6bbe6c
set $base0C #259185
set $base0D #2075c7
set $base0E #c61b6e
set $base0F #680d12
