## Base24 Hivacruz
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #132537
set $base01 #202746
set $base02 #6b7394
set $base03 #767d9c
set $base04 #8188a4
set $base05 #8c92ac
set $base06 #979db4
set $base07 #f5f7ff
set $base08 #c94922
set $base09 #c08b30
set $base0A #898ea4
set $base0B #ac9739
set $base0C #22a2c9
set $base0D #3d8fd1
set $base0E #6679cc
set $base0F #642411
