## Base24 Dark Plus
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #0e0e0e
set $base01 #000000
set $base02 #666666
set $base03 #858585
set $base04 #a5a5a5
set $base05 #c5c5c5
set $base06 #e5e5e5
set $base07 #e5e5e5
set $base08 #cd3131
set $base09 #e5e510
set $base0A #3b8eea
set $base0B #0dbc79
set $base0C #11a8cd
set $base0D #2472c8
set $base0E #bc3fbc
set $base0F #661818
