## Base24 Fun Forrest
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #241200
set $base01 #000000
set $base02 #7e6954
set $base03 #957f58
set $base04 #ad955c
set $base05 #c5ab60
set $base06 #ddc165
set $base07 #ffe9a3
set $base08 #d5252b
set $base09 #bd8a13
set $base0A #7cc9ce
set $base0B #909b00
set $base0C #d98112
set $base0D #4698a2
set $base0E #8c4231
set $base0F #6a1215
