## Base24 Front End Delight
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #1b1b1d
set $base01 #242426
set $base02 #5eac6c
set $base03 #71ac7c
set $base04 #85ac8c
set $base05 #98ac9c
set $base06 #acacac
set $base07 #8b735a
set $base08 #f8501a
set $base09 #f9761d
set $base0A #3393c9
set $base0B #565746
set $base0C #3ba0a5
set $base0D #2c70b7
set $base0E #f02d4e
set $base0F #7c280d
