## Base24 Hopscotch
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #322931
set $base01 #322931
set $base02 #797379
set $base03 #898388
set $base04 #999498
set $base05 #a9a4a8
set $base06 #b9b5b8
set $base07 #ffffff
set $base08 #dd464c
set $base09 #fdcc59
set $base0A #989498
set $base0B #8fc13e
set $base0C #149b93
set $base0D #1290bf
set $base0E #c85e7c
set $base0F #6e2326
