## Base24 One Black
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #000000
set $base01 #000000
set $base02 #4f5666
set $base03 #545862
set $base04 #9196a1
set $base05 #abb2bf
set $base06 #e6e6e6
set $base07 #ffffff
set $base08 #e05561
set $base09 #d18f52
set $base0A #e6b965
set $base0B #8cc265
set $base0C #42b3c2
set $base0D #4aa5f0
set $base0E #c162de
set $base0F #bf4034
