## Base24 Firefox Dev
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #0e1011
set $base01 #002731
set $base02 #001e26
set $base03 #374d53
set $base04 #6e7d81
set $base05 #a5acae
set $base06 #dcdcdc
set $base07 #e2e2e2
set $base08 #e63853
set $base09 #a57705
set $base0A #006fc0
set $base0B #5eb83c
set $base0C #4b73a2
set $base0D #359ddf
set $base0E #d75cff
set $base0F #731c29
