## Base24 Rebecca
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #292a44
set $base01 #12131d
set $base02 #666699
set $base03 #8585ac
set $base04 #a4a4c0
set $base05 #c3c3d4
set $base06 #e3e2e8
set $base07 #f3f2f8
set $base08 #dd7655
set $base09 #f2e7b7
set $base0A #69bffa
set $base0B #04dbb4
set $base0C #56d3c1
set $base0D #7aa5ff
set $base0E #be9bf8
set $base0F #6e3b2a
