## Base24 Cyberdyne
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #151144
set $base01 #080808
set $base02 #2d2d2d
set $base03 #5e5e5e
set $base04 #8f8f8f
set $base05 #c0c0c0
set $base06 #f1f1f1
set $base07 #feffff
set $base08 #ff8272
set $base09 #d2a700
set $base0A #c1e3fe
set $base0B #00c172
set $base0C #6bffdc
set $base0D #0071cf
set $base0E #ff8ffd
set $base0F #7f4139
