## Base24 IC-Orange-PPL
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #262626
set $base01 #000000
set $base02 #6a4e29
set $base03 #8f6c41
set $base04 #b48b59
set $base05 #d9a971
set $base06 #ffc88a
set $base07 #f9f9fe
set $base08 #c03900
set $base09 #caae00
set $base0A #ffbd54
set $base0B #a3a900
set $base0C #f79400
set $base0D #bd6c00
set $base0E #fb5d00
set $base0F #601c00
