## Base24 Fish Tank
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #222436
set $base01 #03063c
set $base02 #6c5a30
set $base03 #8c7f63
set $base04 #aca496
set $base05 #ccc9c9
set $base06 #eceffc
set $base07 #f6ffec
set $base08 #c60049
set $base09 #fdcd5e
set $base0A #b1bdf9
set $base0B #abf157
set $base0C #968662
set $base0D #525fb8
set $base0E #976f81
set $base0F #630024
