## Base16 Everforest Light (Soft)
# Author: Márcio Sobel (https://github.com/marciosobel)

set $base00 #f3ead3
set $base01 #eae4ca
set $base02 #ddd8be
set $base03 #939f91
set $base04 #829181
set $base05 #5c6a72
set $base06 #4d5960
set $base07 #333c43
set $base08 #f85552
set $base09 #f57d26
set $base0A #dfa000
set $base0B #8da101
set $base0C #35a77c
set $base0D #3a94c5
set $base0E #df69ba
set $base0F #829181
