## Base24 Unikitty
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #ff7ad3
set $base01 #0c0c0c
set $base02 #424242
set $base03 #696769
set $base04 #918c91
set $base05 #b9b1b8
set $base06 #e1d6e0
set $base07 #fff2fd
set $base08 #a80f20
set $base09 #eeaa4b
set $base0A #eedf4b
set $base0B #bafc8b
set $base0C #6bd0bc
set $base0D #145fcd
set $base0E #ff36a2
set $base0F #540710
