## Base24 Chalk
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #151515
set $base01 #202020
set $base02 #303030
set $base03 #505050
set $base04 #b0b0b0
set $base05 #d0d0d0
set $base06 #e0e0e0
set $base07 #f5f5f5
set $base08 #fa859c
set $base09 #ea9971
set $base0A #ddb26f
set $base0B #a1bb54
set $base0C #10bcad
set $base0D #5ab9ed
set $base0E #db8fea
set $base0F #deaf8f
