## Base24 Lab Fox
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #2e2e2e
set $base01 #2e2e2e
set $base02 #454545
set $base03 #737373
set $base04 #a1a2a2
set $base05 #cfd0d0
set $base06 #feffff
set $base07 #feffff
set $base08 #fc6d26
set $base09 #fca121
set $base0A #db501f
set $base0B #3eb383
set $base0C #6e49cb
set $base0D #db3b21
set $base0E #380d75
set $base0F #7e3613
