## Base24 Elementary
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #181818
set $base01 #242424
set $base02 #4a4a4a
set $base03 #737373
set $base04 #9c9c9c
set $base05 #c5c5c5
set $base06 #eeeeee
set $base07 #8c00eb
set $base08 #d61b15
set $base09 #fdb40b
set $base0A #0855fe
set $base0B #59a413
set $base0C #2594e0
set $base0D #053a8c
set $base0E #e40038
set $base0F #6b0d0a
