## Base24 Ciapre
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #181c27
set $base01 #181818
set $base02 #555555
set $base03 #6b685f
set $base04 #817c69
set $base05 #978f73
set $base06 #ada37e
set $base07 #f3f3f3
set $base08 #800009
set $base09 #cc8a3e
set $base0A #2f97c6
set $base0B #48513b
set $base0C #5b4f4a
set $base0D #566d8c
set $base0E #724c7c
set $base0F #400004
