## Base24 Challenger Deep
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #1e1c31
set $base01 #141127
set $base02 #565575
set $base03 #6a6c8a
set $base04 #7e84a0
set $base05 #929bb6
set $base06 #a6b3cc
set $base07 #cbe3e7
set $base08 #ff5458
set $base09 #ffb378
set $base0A #91ddff
set $base0B #62d196
set $base0C #63f2f1
set $base0D #65b2ff
set $base0E #906cff
set $base0F #7f2a2c
