## Base24 IC-Green-PPL
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #2c2c2c
set $base01 #014401
set $base02 #025c02
set $base03 #3b843e
set $base04 #74ad7a
set $base05 #add5b6
set $base06 #e6fef2
set $base07 #e0f1dc
set $base08 #fe2635
set $base09 #76a830
set $base0A #2efaeb
set $base0B #41a638
set $base0C #3ca078
set $base0D #2ec3b9
set $base0E #50a096
set $base0F #7f131a
