## Base24 Solarized Dark Patched
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #001e26
set $base01 #002731
set $base02 #465a61
set $base03 #6e7c7b
set $base04 #979e96
set $base05 #c0c0b0
set $base06 #e9e2cb
set $base07 #fcf4dc
set $base08 #d01b24
set $base09 #a57705
set $base0A #708183
set $base0B #728905
set $base0C #259185
set $base0D #2075c7
set $base0E #c61b6e
set $base0F #680d12
