## Base24 Purple Rain
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #20084a
set $base01 #000000
set $base02 #555555
set $base03 #7f7f7f
set $base04 #a9aaaa
set $base05 #d3d4d4
set $base06 #feffff
set $base07 #feffff
set $base08 #ff260d
set $base09 #ffc400
set $base0A #00a5ff
set $base0B #9ae204
set $base0C #00ddef
set $base0D #00a1f9
set $base0E #805bb5
set $base0F #7f1306
