## Base24 Jackie Brown
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #2c1c15
set $base01 #2c1d16
set $base02 #666666
set $base03 #7c7c7c
set $base04 #929292
set $base05 #a8a8a8
set $base06 #bfbfbf
set $base07 #e5e5e5
set $base08 #ef5734
set $base09 #bdbe00
set $base0A #0000ff
set $base0B #2baf2b
set $base0C #00acee
set $base0D #246db2
set $base0E #cf5ec0
set $base0F #772b1a
