## Base24 One Half Light
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #2a2b32
set $base01 #373942
set $base02 #4f525d
set $base03 #797c84
set $base04 #a4a6ab
set $base05 #cfd0d2
set $base06 #fafafa
set $base07 #ffffff
set $base08 #e45649
set $base09 #c08400
set $base0A #c0aa00
set $base0B #4fa14f
set $base0C #0996b3
set $base0D #0084bc
set $base0E #a625a4
set $base0F #722b24
