## Base24 Night Owlish Light
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #ffffff
set $base01 #e5e6e6
set $base02 #cbcdcd
set $base03 #b1b4b4
set $base04 #717575
set $base05 #585b5b
set $base06 #3f4141
set $base07 #011627
set $base08 #d3423e
set $base09 #daaa01
set $base0A #dac801
set $base0B #2aa298
set $base0C #08916a
set $base0D #4876d6
set $base0E #403f53
set $base0F #69211f
