## Base24 Mission Brogue
# Author: Thomas Leon Highbaugh

set $base00 #283139
set $base01 #3b4954
set $base02 #4d606f
set $base03 #60778a
set $base04 #788ea1
set $base05 #93a5b4
set $base06 #abb9c4
set $base07 #e7ebee
set $base08 #efa9a9
set $base09 #f2db78
set $base0A #e0b88a
set $base0B #8cd4b0
set $base0C #93dfec
set $base0D #a2c5fd
set $base0E #ccb7db
set $base0F #8e9ecb
