## Base24 Operator Mono Dark
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #191919
set $base01 #5a5a5a
set $base02 #9a9a99
set $base03 #a6a8a6
set $base04 #b3b6b3
set $base05 #c0c4c0
set $base06 #cdd3cd
set $base07 #fdfdf6
set $base08 #ca372d
set $base09 #d4d697
set $base0A #89d3f6
set $base0B #4d7b3a
set $base0C #72d4c6
set $base0D #4387cf
set $base0E #b86cb4
set $base0F #651b16
