## Base24 Sleepy Hollow
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #121213
set $base01 #572000
set $base02 #4e4b60
set $base03 #665e6c
set $base04 #7e7278
set $base05 #968684
set $base06 #af9a91
set $base07 #d1c7a9
set $base08 #b93934
set $base09 #b45600
set $base0A #8085ef
set $base0B #90773e
set $base0C #8eaea9
set $base0D #5e62b4
set $base0E #a07c7b
set $base0F #5c1c1a
