## Base24 Ubuntu
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #300a24
set $base01 #2e3436
set $base02 #555753
set $base03 #747772
set $base04 #949791
set $base05 #b3b7b0
set $base06 #d3d7cf
set $base07 #eeeeec
set $base08 #cc0000
set $base09 #c4a000
set $base0A #729fcf
set $base0B #4e9a06
set $base0C #06989a
set $base0D #3465a4
set $base0E #75507b
set $base0F #660000
