## Base24 Ollie
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #212024
set $base01 #000000
set $base02 #5a3625
set $base03 #664b46
set $base04 #726168
set $base05 #7e7789
set $base06 #8a8dab
set $base07 #5b6da7
set $base08 #ab2e30
set $base09 #ab4200
set $base0A #4487ff
set $base0B #31ab60
set $base0C #1fa5ab
set $base0D #2c56ab
set $base0E #af8427
set $base0F #551718
