## Base24 deep
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #080808
set $base01 #000000
set $base02 #535353
set $base03 #767676
set $base04 #999999
set $base05 #bcbcbc
set $base06 #dfdfdf
set $base07 #fffefe
set $base08 #d60005
set $base09 #d9bc25
set $base0A #9fa8fe
set $base0B #1cd815
set $base0C #4fd2d9
set $base0D #5665fe
set $base0E #af51d9
set $base0F #6b0002
