## Base24 Grape
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #161423
set $base01 #2d283e
set $base02 #58506a
set $base03 #696377
set $base04 #7b7785
set $base05 #8c8a92
set $base06 #9e9ea0
set $base07 #a188f7
set $base08 #ec2160
set $base09 #8ddc1f
set $base0A #a9bbeb
set $base0B #1fa91b
set $base0C #3added
set $base0D #487cf4
set $base0E #8c35c8
set $base0F #761030
