## Base24 Alucard
# Author: clach04 (https://github.com/clach04)

set $base00 #fffbeb
set $base01 #ceccc0
set $base02 #cfcfde
set $base03 #6c664b
set $base04 #4c4a3d
set $base05 #1f1f1f
set $base06 #1f1f1f
set $base07 #2c2b31
set $base08 #cb3a2a
set $base09 #a34d14
set $base0A #846e15
set $base0B #14710a
set $base0C #036a96
set $base0D #644ac9
set $base0E #a3144d
set $base0F #792219
