## Base24 Medallion
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #1d1808
set $base01 #000000
set $base02 #5e5118
set $base03 #786d38
set $base04 #938958
set $base05 #aea578
set $base06 #c9c199
set $base07 #fed597
set $base08 #b54c00
set $base09 #d2bd25
set $base0A #abb8ff
set $base0B #7c8a16
set $base0C #906b25
set $base0D #606baf
set $base0E #8b5990
set $base0F #5a2600
