## Base24 Espresso
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #262626
set $base01 #343434
set $base02 #535353
set $base03 #797979
set $base04 #a0a09f
set $base05 #c7c7c5
set $base06 #eeeeec
set $base07 #ffffff
set $base08 #d25151
set $base09 #ffc66d
set $base0A #8ab7d9
set $base0B #a5c261
set $base0C #bed6ff
set $base0D #6c99bb
set $base0E #d197d9
set $base0F #692828
