## Base24 Tango Adapted
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #feffff
set $base01 #f1f1f1
set $base02 #dcdcdc
set $base03 #cccccc
set $base04 #757575
set $base05 #4f4f4f
set $base06 #323232
set $base07 #000000
set $base08 #ff0000
set $base09 #ef9b00
set $base0A #efca00
set $base0B #59d500
set $base0C #00d0d6
set $base0D #00a1ff
set $base0E #c17ecb
set $base0F #7f0000
