## Base24 Banana Blueberry
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #191322
set $base01 #16141e
set $base02 #485161
set $base03 #727985
set $base04 #9ca1a9
set $base05 #c6c9cd
set $base06 #f1f1f1
set $base07 #feffff
set $base08 #ff6a7e
set $base09 #e5c62f
set $base0A #91fff3
set $base0B #00bc9b
set $base0C #55b6c1
set $base0D #22e8df
set $base0E #dc3969
set $base0F #7f353f
