## Base24 Smyck
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #1b1b1b
set $base01 #000000
set $base02 #7a7a7a
set $base03 #838383
set $base04 #8d8d8d
set $base05 #969696
set $base06 #a0a0a0
set $base07 #f7f7f7
set $base08 #b74131
set $base09 #c4a400
set $base0A #8dcff0
set $base0B #7da900
set $base0C #207383
set $base0D #62a3c4
set $base0E #b98acc
set $base0F #5b2018
