## Base24 Dimmed Monokai
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #1e1e1e
set $base01 #3a3c43
set $base02 #888987
set $base03 #949593
set $base04 #a0a2a0
set $base05 #acafac
set $base06 #b8bcb9
set $base07 #fcffb8
set $base08 #be3e48
set $base09 #c4a535
set $base0A #176ce3
set $base0B #869a3a
set $base0C #568ea3
set $base0D #4e76a1
set $base0E #855b8d
set $base0F #5f1f24
