## Base24 Violet Light
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #fcf4dc
set $base01 #56595c
set $base02 #45484b
set $base03 #686a6a
set $base04 #8c8c8a
set $base05 #afaea9
set $base06 #d3d0c9
set $base07 #c8c5bd
set $base08 #c94c22
set $base09 #b4881d
set $base0A #2075c7
set $base0B #85981c
set $base0C #32a198
set $base0D #2e8bce
set $base0E #d13a82
set $base0F #642611
