## Base24 Lovelace
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #1d1f28
set $base01 #282a36
set $base02 #414458
set $base03 #707281
set $base04 #9fa0aa
set $base05 #ceced3
set $base06 #fdfdfd
set $base07 #bebec1
set $base08 #f37f97
set $base09 #f2a272
set $base0A #556fff
set $base0B #5adecd
set $base0C #79e6f3
set $base0D #8897f4
set $base0E #c574dd
set $base0F #793f4b
