## Base24 Earthsong
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #282420
set $base01 #111417
set $base02 #665e54
set $base03 #857769
set $base04 #a5917e
set $base05 #c5ab93
set $base06 #e5c5a9
set $base07 #f6f6ec
set $base08 #c84134
set $base09 #f4ae2e
set $base0A #5ed9ff
set $base0B #84c44b
set $base0C #4f9452
set $base0D #1397b9
set $base0E #d0623c
set $base0F #64201a
