## Base24 Builtin Light
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #ffffff
set $base01 #000000
set $base02 #555555
set $base03 #6e6e6e
set $base04 #888888
set $base05 #a1a1a1
set $base06 #bbbbbb
set $base07 #ffffff
set $base08 #bb0000
set $base09 #bbbb00
set $base0A #5555ff
set $base0B #00bb00
set $base0C #00bbbb
set $base0D #0000bb
set $base0E #bb00bb
set $base0F #5d0000
