## Base24 Scarlet Protocol
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #1b153c
set $base01 #101116
set $base02 #676767
set $base03 #7f7f7f
set $base04 #979797
set $base05 #afafaf
set $base06 #c7c7c7
set $base07 #feffff
set $base08 #ff0051
set $base09 #faf945
set $base0A #6871ff
set $base0B #00dc84
set $base0C #00c5c7
set $base0D #0271b6
set $base0E #c930c7
set $base0F #7f0028
