## Base24 Cobalt Neon
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #142838
set $base01 #142630
set $base02 #fff688
set $base03 #eeca92
set $base04 #dd9e9c
set $base05 #cc72a6
set $base06 #ba45b1
set $base07 #8ff586
set $base08 #ff2320
set $base09 #e9e75c
set $base0A #3c7dd2
set $base0B #3aa5ff
set $base0C #8ff586
set $base0D #8ff586
set $base0E #781aa0
set $base0F #7f1110
