## Base24 Jet Brains Darcula
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #202020
set $base01 #000000
set $base02 #555555
set $base03 #6b6b6b
set $base04 #818181
set $base05 #979797
set $base06 #adadad
set $base07 #eeeeee
set $base08 #fa5355
set $base09 #c2c300
set $base0A #6d9df1
set $base0B #126e00
set $base0C #33c2c1
set $base0D #4581eb
set $base0E #fa54ff
set $base0F #7d292a
