## Base24 Idea
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #202020
set $base01 #acacac
set $base02 #fffefe
set $base03 #c5c5c5
set $base04 #8b8b8b
set $base05 #515151
set $base06 #171717
set $base07 #171717
set $base08 #fb5255
set $base09 #ccb343
set $base0A #6c9bed
set $base0B #98b61b
set $base0C #248886
set $base0D #437ee6
set $base0E #9d73b0
set $base0F #7d292a
