## Base24 Lavandula
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #050014
set $base01 #230045
set $base02 #372c46
set $base03 #463c53
set $base04 #554d61
set $base05 #645d6f
set $base06 #736e7d
set $base07 #8c91fa
set $base08 #7c1525
set $base09 #7f6f49
set $base0A #8e86df
set $base0B #337e6f
set $base0C #57767f
set $base0D #4f4a7f
set $base0E #593f7e
set $base0F #3e0a12
