## Base24 Monokai Vivid
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #121212
set $base01 #323232
set $base02 #424242
set $base03 #525252
set $base04 #c0c0c0
set $base05 #dfdfdf
set $base06 #f1f1f1
set $base07 #ffffff
set $base08 #fa2834
set $base09 #fec50a
set $base0A #fef20a
set $base0B #97e123
set $base0C #01b6ed
set $base0D #0442fe
set $base0E #f800f8
set $base0F #7d141a
