## Base24 Zenburn
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #3f3f3f
set $base01 #4d4d4d
set $base02 #709080
set $base03 #8ba393
set $base04 #a6b6a6
set $base05 #c1c9b9
set $base06 #dcdccc
set $base07 #ffffff
set $base08 #705050
set $base09 #f0dfaf
set $base0A #94bff3
set $base0B #60b48a
set $base0C #8cd0d3
set $base0D #506070
set $base0E #dc8cc3
set $base0F #382828
