## Base24 Hurtado
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #000000
set $base01 #575757
set $base02 #252525
set $base03 #4e4e4e
set $base04 #787878
set $base05 #a1a1a1
set $base06 #cbcbcb
set $base07 #dbdbdb
set $base08 #ff1b00
set $base09 #fbe74a
set $base0A #89bdff
set $base0B #a5df55
set $base0C #85e9fe
set $base0D #486387
set $base0E #fc5ef0
set $base0F #7f0d00
