## Base24 Mona Lisa
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #110b0d
set $base01 #341a0d
set $base02 #874227
set $base03 #a26734
set $base04 #be8c41
set $base05 #dab14e
set $base06 #f6d75c
set $base07 #ffe597
set $base08 #9b281b
set $base09 #c26e27
set $base0A #9eb2b3
set $base0B #626132
set $base0C #588056
set $base0D #515b5c
set $base0E #9b1d29
set $base0F #4d140d
