## Base24 Rippedcasts
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #2b2b2b
set $base01 #000000
set $base02 #666666
set $base03 #7c7c7c
set $base04 #929292
set $base05 #a8a8a8
set $base06 #bfbfbf
set $base07 #e5e5e5
set $base08 #cdaf95
set $base09 #bfbb1f
set $base0A #86bdc9
set $base0B #a7ff60
set $base0C #59647e
set $base0D #75a5b0
set $base0E #ff73fd
set $base0F #66574a
