## Base24 Pandora
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #131d42
set $base01 #000000
set $base02 #3e5548
set $base03 #66786e
set $base04 #8f9b94
set $base05 #b8beba
set $base06 #e1e1e1
set $base07 #ffffff
set $base08 #ff4242
set $base09 #ffad29
set $base0A #23d7d7
set $base0B #74af68
set $base0C #23d7d7
set $base0D #338f86
set $base0E #9413e5
set $base0F #7f2121
