## Base24 Highway
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #212224
set $base01 #000000
set $base02 #5c4f49
set $base03 #807672
set $base04 #a49e9b
set $base05 #c8c5c4
set $base06 #ededed
set $base07 #fefffe
set $base08 #cf0d17
set $base09 #ffca3d
set $base0A #4fc2fd
set $base0B #128033
set $base0C #384563
set $base0D #006ab3
set $base0E #6a2674
set $base0F #67060b
