## Base24 Embarcadero
# Author: Thomas Leon Highbaugh

set $base00 #252a2f
set $base01 #43474c
set $base02 #616568
set $base03 #7f8285
set $base04 #9ea0a2
set $base05 #bcbdc0
set $base06 #dadbdb
set $base07 #f8f8f8
set $base08 #ed5d86
set $base09 #ffcb3d
set $base0A #eb824d
set $base0B #20c290
set $base0C #02efef
set $base0D #4080d0
set $base0E #a070d0
set $base0F #50509f
