## Base24 Cobalt2
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #122637
set $base01 #000000
set $base02 #555555
set $base03 #6e6e6e
set $base04 #888888
set $base05 #a1a1a1
set $base06 #bbbbbb
set $base07 #ffffff
set $base08 #ff0000
set $base09 #fee409
set $base0A #5555ff
set $base0B #37dd21
set $base0C #00bbbb
set $base0D #1460d2
set $base0E #ff005d
set $base0F #7f0000
