## Base24 Fideloper
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #282f32
set $base01 #282f32
set $base02 #092027
set $base03 #415050
set $base04 #79817a
set $base05 #b1b1a3
set $base06 #e9e2cd
set $base07 #fcf4de
set $base08 #ca1d2c
set $base09 #b7aa9a
set $base0A #7c84c4
set $base0B #edb7ab
set $base0C #309185
set $base0D #2e78c1
set $base0E #c0226e
set $base0F #650e16
