## Base24 Piatto Light
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #ffffff
set $base01 #f1f1f1
set $base02 #e1e1e1
set $base03 #c1c1c1
set $base04 #717171
set $base05 #515151
set $base06 #414141
set $base07 #212121
set $base08 #b23771
set $base09 #cd6f34
set $base0A #cda434
set $base0B #66781e
set $base0C #1e7878
set $base0D #3c5ea8
set $base0E #a454b2
set $base0F #591b38
