## Base24 Chalkboard
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #29262f
set $base01 #000000
set $base02 #323232
set $base03 #5b5b5b
set $base04 #858585
set $base05 #afafaf
set $base06 #d9d9d9
set $base07 #ffffff
set $base08 #c37372
set $base09 #c2c372
set $base0A #aaaadb
set $base0B #72c373
set $base0C #72c2c3
set $base0D #7372c3
set $base0E #c372c2
set $base0F #613939
