## Base24 Mathias
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #000000
set $base01 #000000
set $base02 #555555
set $base03 #7c7c7c
set $base04 #a3a3a3
set $base05 #cacaca
set $base06 #f2f2f2
set $base07 #ffffff
set $base08 #e52222
set $base09 #fc951e
set $base0A #5555ff
set $base0B #a6e32d
set $base0C #67d9f0
set $base0D #c48dff
set $base0E #fa2573
set $base0F #721111
