## Base24 Crayon Pony Fish
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #140607
set $base01 #2a1a1c
set $base02 #3c2a2e
set $base03 #473438
set $base04 #523e43
set $base05 #5d484e
set $base06 #685259
set $base07 #af949d
set $base08 #90002a
set $base09 #aa301b
set $base0A #cfc9ff
set $base0B #579523
set $base0C #e8a766
set $base0D #8b87af
set $base0E #682e50
set $base0F #480015
