## Base24 Square
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #1a1a1a
set $base01 #050505
set $base02 #141414
set $base03 #4b4b4b
set $base04 #838383
set $base05 #bababa
set $base06 #f2f2f2
set $base07 #e2e2e2
set $base08 #e9897c
set $base09 #ecebbe
set $base0A #b6defb
set $base0B #b6377d
set $base0C #c9caec
set $base0D #a9cdeb
set $base0E #75507b
set $base0F #74443e
