## Base24 Shades Of Purple
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #1e1d40
set $base01 #000000
set $base02 #676767
set $base03 #7f7f7f
set $base04 #979797
set $base05 #afafaf
set $base06 #c7c7c7
set $base07 #feffff
set $base08 #d90429
set $base09 #ffe700
set $base0A #6871ff
set $base0B #3ad900
set $base0C #00c5c7
set $base0D #6943ff
set $base0E #ff2b70
set $base0F #6c0214
