## Base24 Tokyo Night Moon
# Author: Michaël Ball, based on Tokyo Night by enkia (https://github.com/enkia/tokyo-night-vscode-theme)

set $base00 #222436
set $base01 #1e2030
set $base02 #2f334d
set $base03 #444a73
set $base04 #828bb8
set $base05 #c8d3f5
set $base06 #b4c2f0
set $base07 #c8d3f5
set $base08 #c099ff
set $base09 #ffc777
set $base0A #ffc777
set $base0B #c3e88d
set $base0C #86e1fc
set $base0D #82aaff
set $base0E #fca7ea
set $base0F #c53b53
