## Base24 Oceanic Material
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #1c262b
set $base01 #000000
set $base02 #767676
set $base03 #818181
set $base04 #8d8d8d
set $base05 #989898
set $base06 #a4a4a4
set $base07 #fffefe
set $base08 #ee2a29
set $base09 #fee92e
set $base0A #53a4f3
set $base0B #3fa33f
set $base0C #16aec9
set $base0D #1d80ef
set $base0E #8800a0
set $base0F #771514
