## Base24 Sea Shells
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #08131a
set $base01 #17384c
set $base02 #424b52
set $base03 #696660
set $base04 #90816f
set $base05 #b79c7e
set $base06 #deb88d
set $base07 #fee3cd
set $base08 #d15023
set $base09 #fca02f
set $base0A #1bbcdd
set $base0B #027c9b
set $base0C #50a3b5
set $base0D #1e4950
set $base0E #68d3f1
set $base0F #682811
