## Base24 PaperColor Dark
# Author: Nguyen Nguyen (https://github.com/NLKNguyen/papercolor-theme)

set $base00 #1c1c1c
set $base01 #303030
set $base02 #3a3a3a
set $base03 #808080
set $base04 #585858
set $base05 #d0d0d0
set $base06 #bcbcbc
set $base07 #c6c6c6
set $base08 #af005f
set $base09 #5faf5f
set $base0A #d7af5f
set $base0B #5faf00
set $base0C #ffaf00
set $base0D #5fafd7
set $base0E #af87d7
set $base0F #ff5faf
