## Base24 Forest Blue
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #051519
set $base01 #333333
set $base02 #3d3d3d
set $base03 #666361
set $base04 #8f8a85
set $base05 #b8b1a9
set $base06 #e2d8cd
set $base07 #e2d8cd
set $base08 #f8818e
set $base09 #1a8d63
set $base0A #39a7a2
set $base0B #92d3a2
set $base0C #31658c
set $base0D #8ed0ce
set $base0E #5e468c
set $base0F #7c4047
