## Base24 Sundried
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #1a1818
set $base01 #302b2a
set $base02 #4d4d47
set $base03 #6b6b67
set $base04 #8a8a87
set $base05 #a9a9a7
set $base06 #c8c8c8
set $base07 #fffefe
set $base08 #a6463d
set $base09 #9c5f2a
set $base0A #7898f7
set $base0B #577644
set $base0C #9c814e
set $base0D #485a98
set $base0E #854551
set $base0F #53231e
