## Base24 Pencil Dark
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #212121
set $base01 #212121
set $base02 #424242
set $base03 #676767
set $base04 #8d8d8d
set $base05 #b3b3b3
set $base06 #d9d9d9
set $base07 #f1f1f1
set $base08 #c30771
set $base09 #a89c14
set $base0A #20bbfc
set $base0B #10a778
set $base0C #20a5ba
set $base0D #008ec4
set $base0E #523c79
set $base0F #610338
