## Base24 Hacktober
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #141414
set $base01 #191918
set $base02 #2c2b2a
set $base03 #5d5b59
set $base04 #8e8c88
set $base05 #bfbdb7
set $base06 #f1eee7
set $base07 #ffffff
set $base08 #b34538
set $base09 #d08949
set $base0A #5389c5
set $base0B #587744
set $base0C #ac9166
set $base0D #206ec5
set $base0E #864651
set $base0F #59221c
