## Base24 Wombat
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #171717
set $base01 #000000
set $base02 #313131
set $base03 #5c5b58
set $base04 #87857f
set $base05 #b2afa6
set $base06 #ded9ce
set $base07 #fefffe
set $base08 #ff605a
set $base09 #ead89c
set $base0A #a5c7ff
set $base0B #b1e869
set $base0C #82fff6
set $base0D #5da9f6
set $base0E #e86aff
set $base0F #7f302d
