## Base24 Later This Evening
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #212121
set $base01 #313131
set $base02 #4f4f4f
set $base03 #6f6f6f
set $base04 #8c8c8c
set $base05 #a6a6a6
set $base06 #bfbfbf
set $base07 #d9d9d9
set $base08 #d35a5f
set $base09 #e5af89
set $base0A #e5d289
set $base0B #afba66
set $base0C #91beb6
set $base0D #a0b9d5
set $base0E #bf92d5
set $base0F #692d2f
