## Base24 Pnevma
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #1c1c1c
set $base01 #2f2e2d
set $base02 #4a4845
set $base03 #6b6a67
set $base04 #8d8c8a
set $base05 #aeaead
set $base06 #d0d0d0
set $base07 #efefef
set $base08 #a36666
set $base09 #d7af87
set $base0A #a1bdce
set $base0B #90a57d
set $base0C #8adbb4
set $base0D #7fa5bd
set $base0E #c79ec4
set $base0F #513333
