## Base24 Adventure Time
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #1e1c44
set $base01 #050404
set $base02 #4e7bbf
set $base03 #7893bf
set $base04 #a3abbf
set $base05 #cdc3bf
set $base06 #f8dbc0
set $base07 #f5f4fb
set $base08 #bc0013
set $base09 #e6741d
set $base0A #1896c6
set $base0B #49b117
set $base0C #6fa497
set $base0D #0f49c6
set $base0E #665992
set $base0F #5e0009
