## Base24 Material Dark
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #222221
set $base01 #212121
set $base02 #424242
set $base03 #6d6d6d
set $base04 #989898
set $base05 #c3c3c3
set $base06 #eeeeee
set $base07 #d8d8d8
set $base08 #b7141e
set $base09 #f5971d
set $base0A #53a4f3
set $base0B #457b23
set $base0C #0e707c
set $base0D #134eb2
set $base0E #550087
set $base0F #5b0a0f
