## Base24 Blue Berry Pie
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #1c0b28
set $base01 #0a4b61
set $base02 #1f1637
set $base03 #534a5e
set $base04 #877e86
set $base05 #bbb2ad
set $base06 #f0e7d5
set $base07 #0a6b7e
set $base08 #99236d
set $base09 #e9b8a7
set $base0A #38163d
set $base0B #5bb0b2
set $base0C #7e82cc
set $base0D #90a5bc
set $base0E #9d53a7
set $base0F #4c1136
