## Base24 Seafoam Pastel
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #243434
set $base01 #757575
set $base02 #8a8a8a
set $base03 #9f9f9f
set $base04 #b5b5b5
set $base05 #cacaca
set $base06 #e0e0e0
set $base07 #e0e0e0
set $base08 #825d4d
set $base09 #ada16d
set $base0A #79c3cf
set $base0B #718c61
set $base0C #719393
set $base0D #4d7b82
set $base0E #8a7167
set $base0F #412e26
