## Base24 Spacedust
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #0a1e24
set $base01 #6e5246
set $base02 #674c31
set $base03 #897558
set $base04 #ab9e7f
set $base05 #cdc7a6
set $base06 #f0f1ce
set $base07 #fefff0
set $base08 #e35a00
set $base09 #e3cd7b
set $base0A #67a0cd
set $base0B #5cab96
set $base0C #06afc7
set $base0D #0e548b
set $base0E #e35a00
set $base0F #712d00
