## Base24 Twilight
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #141414
set $base01 #141414
set $base02 #262626
set $base03 #5c5c51
set $base04 #92927c
set $base05 #c8c8a7
set $base06 #feffd3
set $base07 #feffd3
set $base08 #c06c43
set $base09 #c2a86c
set $base0A #5a5d61
set $base0B #afb979
set $base0C #778284
set $base0D #444649
set $base0E #b4be7b
set $base0F #603621
