## Base24 Builtin Solarized Light
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #fdf6e3
set $base01 #073642
set $base02 #002b36
set $base03 #3b5a5d
set $base04 #778985
set $base05 #b2b8ad
set $base06 #eee8d5
set $base07 #fdf6e3
set $base08 #dc322f
set $base09 #b58900
set $base0A #839496
set $base0B #859900
set $base0C #2aa198
set $base0D #268bd2
set $base0E #d33682
set $base0F #6e1917
