## Base24 Royal
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #100814
set $base01 #241f2a
set $base02 #312d3c
set $base03 #393446
set $base04 #413b50
set $base05 #49425a
set $base06 #514965
set $base07 #9d8bbd
set $base08 #90274b
set $base09 #b49d27
set $base0A #8fb9f9
set $base0B #23801c
set $base0C #8aaabd
set $base0D #6480af
set $base0E #664d96
set $base0F #481325
