## Base24 Man Page
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #fef49c
set $base01 #000000
set $base02 #666666
set $base03 #7f7f7f
set $base04 #999999
set $base05 #b2b2b2
set $base06 #cccccc
set $base07 #e5e5e5
set $base08 #cc0000
set $base09 #999900
set $base0A #0000ff
set $base0B #00a600
set $base0C #00a6b2
set $base0D #0000b2
set $base0E #b200b2
set $base0F #660000
