## Base24 Paul Millr
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #000000
set $base01 #2a2a2a
set $base02 #666666
set $base03 #7b7b7b
set $base04 #909090
set $base05 #a5a5a5
set $base06 #bbbbbb
set $base07 #ffffff
set $base08 #ff0000
set $base09 #e7bf00
set $base0A #709aed
set $base0B #79ff0f
set $base0C #66ccff
set $base0D #386bd7
set $base0E #b349be
set $base0F #7f0000
