## Base24 Nocturnal Winter
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #0d0d17
set $base01 #4c4c4c
set $base02 #7f7f7f
set $base03 #9e9e9e
set $base04 #bdbdbd
set $base05 #dcdcdc
set $base06 #fbfbfb
set $base07 #ffffff
set $base08 #f12d52
set $base09 #f5f079
set $base0A #6095fe
set $base0B #08cd7d
set $base0C #09c87a
set $base0D #3081df
set $base0E #fe2a6c
set $base0F #781629
