## Base24 Broadcast
# Author: FredHappyface (https://github.com/fredHappyface)

set $base00 #2b2b2b
set $base01 #000000
set $base02 #323232
set $base03 #656565
set $base04 #989898
set $base05 #cbcbcb
set $base06 #ffffff
set $base07 #ffffff
set $base08 #da4939
set $base09 #ffd24a
set $base0A #9fcef0
set $base0B #519f50
set $base0C #6e9cbe
set $base0D #6d9cbe
set $base0E #d0d0ff
set $base0F #6d241c
